<!DOCTYPE html>
<html lang = "pt-br">

<head>
    <title>XPTO - Sistema de Informações</title>
</head>

    <body>
        <h1>Bem-vindo ao sistema <%= NOMESISTEMA %></h1>
        <h4>Melhor sistema de informações (aura farmada)</h4>
        <p>Selecione oque você deseja fazer, no menu de integração
        <p><br>
          <small><i>Universidade Positivo - 2026</i></small>
        </p>
    </body> como eu comentor o código em EJS? <!-- Comentário em EJS -->


</html>